<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Nomenclature!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <a href="/transfers">Transfers</a>  <a href="/departments">Departments</a>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            {% if nomenclature is defined %}
            <div>
<table>
        {% for nom in nomenclature %}
<tr>
    <td><a href=/nomenclature/{{ nom.id }}>id="{{ nom.id }}" <td>name= "{{ nom.nomenclname }}" </a><td>desc="{{ nom.nomencldescription }}" <td> depart="{{ nom.departid.departname }}"
</tr>
        {% endfor %}
   </table> </div>
        {% endif %}

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
